<br>
<br>

<div class="new_resource_container">
  <div class="new_resource_caption">
    <p>Edit InfluxDB adapter configuration</p>
  </div>

  <%= form_with model: @influxdb, local: true, method: "patch", :action => 'update' do |form| %>
    <table class="new_resource_table" border="none">
      <tr>
        <td>InfluxDB adapter name</td>
        <td><%= form.text_field(:adapter_name, :class=>"form_input", value: @influxdb.adapter_name) %></td>
      </tr>
      <tr>
        <td>FQDN or IP address</td>
        <td><%= form.text_field(:host, :class=>"form_input", value: @influxdb.host) %></td>
      </tr>
        <tr>
        <td>TCP port</td>
        <td><%= form.text_field(:port, :class=>"form_input", value: @influxdb.port) %></td>
      </tr>
        <tr>
        <td>Protocol</td>
        <td><%= form.text_field(:protocol, :class=>"form_input", value: @influxdb.protocol) %></td>
      </tr>
        <tr>
        <td>Database name</td>
        <td><%= form.text_field(:db_name, :class=>"form_input", value: @influxdb.db_name) %></td>
      </tr>
        <tr>
        <td>User name</td>
        <td><%= form.text_field(:username, :class=>"form_input", value: @influxdb.username) %></td>
      </tr>
        <tr>
        <td>User password</td>
        <td><%= form.text_field(:password, :class=>"form_input", value: @influxdb.password) %></td>
      </tr>
    </table>
    <p>
      <%= form.submit("Update settings",:class=>"form_button") %>
    </p>
  <% end %>
</div>

