<br>
<br>

<div class="new_resource_container">
  <div class="new_resource_caption">
    <p>Create InfluxDB adapter</p>
  </div>

  <%= form_with scope: :influxdb, url: influxdbs_path, local: true do |form| %>
    <table class="new_resource_table" border="none">
      <tr>
        <td>InfluxDB adapter name</td>
        <td><%= form.text_field(:adapter_name, :class=>"form_input", value: 'InfluxDB JMeter') %></td>
      </tr>
      <tr>
        <td>FQDN or IP address</td>
        <td><%= form.text_field(:host, :class=>"form_input", value: '127.0.0.1') %></td>
      </tr>
        <tr>
        <td>TCP port</td>
        <td><%= form.text_field(:port, :class=>"form_input", value: '8086') %></td>
      </tr>
        <tr>
        <td>Protocol</td>
        <td><%= form.text_field(:protocol, :class=>"form_input", value: 'HTTP') %></td>
      </tr>
        <tr>
        <td>Database name</td>
        <td><%= form.text_field(:db_name, :class=>"form_input", value: 'jmeter') %></td>
      </tr>
        <tr>
        <td>User name</td>
        <td><%= form.text_field(:username, :class=>"form_input", value: 'tiger') %></td>
      </tr>
        <tr>
        <td>User password</td>
        <td><%= form.text_field(:password, :class=>"form_input", value: 'user') %></td>
      </tr>
    </table>
    <p>
      <%= form.submit("Save configuration",:class=>"form_button") %>
    </p>
  <% end %>
</div>

