<br>
<br>

<div class="new_resource_container">
  <div class="new_resource_caption">
    <p>InfluxDB adapter configuration summary</p>
  </div>


    <table class="new_resource_table" border="none">
      <tr>
        <td>Adapter name</td>
        <td><%= @influxdb.adapter_name %></td>
      </tr>
      <tr>
        <td>FQDN/IP</td>
        <td><%= @influxdb.host %></td>
      </tr>
      <tr>
        <td>TCP port</td>
        <td><%= @influxdb.port %></td>
      </tr>
      <tr>
        <td>Protocol</td>
        <td><%= @influxdb.protocol %></td>
      </tr>
      <tr>
        <td>User name</td>
        <td><%= @influxdb.username %></td>
      </tr>
      <tr>
        <td>User password</td>
        <td><%= @influxdb.password %></td>
      </tr>
      <tr>
        <td>Database name</td>
        <td><%= @influxdb.db_name %></td>
      </tr>
    </table>
    <%= link_to 'Back to the adapters list', influxdbs_path, class: "header" %>
</div>
