
<br>
<br>

<div class="new_resource_container">
  <div class="new_resource_caption">
    <p>Test schedule</p>
  </div>

  <%= form_tag(dockers_schedule_test_path, method: "get") do %>
    <table class="new_resource_table" border="none">
      <tr>
        <td>Docker host name</td>        
	<td><%= collection_select(:docker_host, :id, Docker.all, :id, :docker_host_name, {}, {:class => "form_input"}) %> </td>
      </tr>
      <tr>
        <td>Build ID</td>
        <td><%= text_field_tag("build_number", "1", size: 25, class: "form_input") %></td>
      </tr>
      <tr>
        <td>Image name</td>
        <td><%= text_field_tag("docker_image_name", "tigerframework/tiger_jmeter:0.0.6.1", size: 50, class: "form_input") %></td>        
      </tr>
      <tr>
        <td>Delete container after exit</td>
        <td><%= check_box_tag(:delete_container_after_exit,"1",true) %></td>
      </tr>
    </table>
    <%= hidden_field_tag "id", @test.id %>
    <%= hidden_field_tag "influxdb_adapter_id", @test.influxdb_adapter_id %>
    <p>
      <%= submit_tag("Start test",:class=>"form_button") %>
    </p>
  <% end %>
  
    <table class="new_resource_table" border="none">
      <tr>
        <td>Test ID</td>
        <td><%= @test.id %></td>
      </tr>
      <tr>
        <td>Test type</td>
        <td><%= @test.test_type %></td>
      </tr>
      <tr>
        <td>Project ID</td>
        <td><%= @test.project_id %></td>
      </tr>
      <tr>
        <td>Environment type</td>
        <td><%= @test.env_type %></td>
      </tr>
      <tr>
        <td>InfluxDB adapter</td>
        <td><%= @test.influxdb_adapter_id %></td>
      </tr>
      <tr>
        <td>RAM limit, MB</td>
        <td><%= @test.ram %></td>
      </tr>
      <tr>
        <td>CPU cores limit</td>
        <td><%= @test.cpu_cores %></td>
      </tr>
      <tr>
        <td>Test settings Git-compatible URL</td>
        <td><%= @test.git_repo_url %></td>
      </tr>
      <tr>
        <td>Git-compatible URL SSH key</td>
        <% if @test.git_repo_key != "" %>
          <% if @test.git_repo_key.length > 30 %>
            <td><%= @test.git_repo_key[0,15] + " ... " + @test.git_repo_key[-15,15] %></td>
          <% else %>
            <td><%= @test.git_repo_key %></td>
          <% end %>
        <% else %>
          <td>N/A</td>
        <% end %>
      </tr>
      <tr>
        <td>Test container user ID</td>
        <td><%= @test.user_id %></td>
      </tr>
    </table>
    <br>
    <%= link_to 'Back to the tests list', tests_path, class: "header" %>
</div>

