<br>
<br>

<div class="new_resource_container">
  <div class="new_resource_caption">
    <p>Edit Docker host configuration</p>
  </div>

  <%= form_with model: @docker, local: true, method: "patch", :action => 'update' do |form| %>
    <table class="new_resource_table" border="none">
      <tr>
        <td>Docker host custom name</td>
        <td><%= form.text_field(:docker_host_name, :class=>"form_input", value: @docker.docker_host_name) %></td>
      </tr>
      <tr>
        <td>FQDN/IP address</td>
        <td><%= form.text_field(:docker_host_fqdn, :class=>"form_input", value: @docker.docker_host_fqdn) %></td>
      </tr>
      <tr>
        <td>RAM, GB</td>
        <td><%= form.text_field(:docker_host_ram, :class=>"form_input", value: @docker.docker_host_ram) %></td>
      </tr>
        <tr>
        <td>CPU, cores</td>
        <td><%= form.text_field(:docker_host_cpu, :class=>"form_input", value: @docker.docker_host_cpu) %></td>
      </tr>
        <tr>
        <td>Disk space, GB</td>
        <td><%= form.text_field(:docker_host_disk_space, :class=>"form_input", value: @docker.docker_host_disk_space) %></td>
      </tr>
        <tr>
        <td>Host geographic location</td>
        <td><%= form.text_field(:docker_host_location, :class=>"form_input", value: @docker.docker_host_location) %></td>
      </tr>
        <tr>
        <td>Network interface throughput, GBit/s</td>
        <td><%= form.text_field(:docker_host_network_interface_throughput, :class=>"form_input", value: @docker.docker_host_network_interface_throughput) %></td>
      </tr>
        <tr>
        <td>Host provider type</td>
        <td><%= form.select(:docker_host_provider_type, [['Bare metall', 'bare_metall'],['AWS', 'aws'], ['GCP', 'gcp'],['Azure', 'azure']],{value: @docker.docker_host_provider_type}, { :class=>'form_input' }) %></td>
      </tr>
        <tr>
        <td>Docker API client key (key.pem)</td>
        <td><%= form.text_area(:docker_host_api_key, size:"50x5", :class=>"form_input", value: @docker.docker_host_api_key) %></td>
      </tr>
        <tr>
        <td>Docker API certificate (cert.pem)</td>
        <td><%= form.text_area(:docker_host_api_cert, size:"50x5", :class=>"form_input", value: @docker.docker_host_api_cert) %></td>
      </tr>
    </table>
    <p>
      <%= form.submit("Update configuration",:class=>"form_button") %>
    </p>
  <% end %>
</div>
