
<div class="container">
  <table class="responsive-table">
    <caption>Available Docker hosts list</caption>
    <thead>
       <tr>
          <th scope="col">ID</th>
          <th scope="col">FQDN/IP</th>
          <th scope="col">RAM, GB</th>
          <th scope="col">CPU, cores</th>
          <th scope="col">Disk space, GB</th>
          <th scope="col">Location</th>
          <th scope="col">Network throughput, GB/s</th>
          <th scope="col">Provider</th>
          <th scope="col_action">Get available Images</th>
          <th scope="col_action">Edit host configuration</th>
          <th scope="col_action">Delete host</th>
          
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
      </tr>
    </tfoot>
    <tbody>                  
      <% @dockers.each do |docker| %>
        <tr>
            <th scope="row"><%= link_to docker.id.to_s, docker_path(docker) %></th>
            <td data-title="FQDN|IP"><%= docker.docker_host_fqdn %></td>
            <td data-title="RAM"><%= docker.docker_host_ram %></td>
            <td data-title="CPU"><%= docker.docker_host_cpu %></td>
            <td data-title="Disk space"><%= docker.docker_host_disk_space %></td>
            <td data-title="Location"><%= docker.docker_host_location %></td>
            <td data-title="Network throughput"><%= docker.docker_host_network_interface_throughput %></td>
            <td data-title="Provider"><%= docker.docker_host_provider_type %></td>
            <td data-title="Get images"><%= link_to 'Images', '/dockers/images?id='+docker.id.to_s  %></td>
            <td data-title="Edit"><%= link_to 'Edit', edit_docker_path(docker) %></td>
            <td data-title="Delete"><%= link_to 'Delete', docker_path(docker), method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <br>
  <%= link_to "Create Docker host", new_docker_path %>
  <br>  
  <%= link_to "Tests list", tests_path %>
  <br>
  <%= link_to "InfluxDB adapters list", influxdbs_path %>
  <br>
</div>
