<br>
<br>

<div class="new_resource_container">
  <div class="new_resource_caption">
    <p>Docker host configuration</p>
  </div>

    <%= form_with scope: :docker, url: dockers_path, local: true do |form| %>
      <table class="new_resource_table" border="none">
      <tr>
        <td>Docker host custom name</td>
        <td><%= form.text_field(:docker_host_name, :class=>"form_input", value:"Sample host") %></td>
      </tr>
      <tr>
        <td>FQDN/IP address</td>
        <td><%= form.text_field(:docker_host_fqdn, :class=>"form_input", value:"127.0.0.1") %></td>
      </tr>
      <tr>
        <td>RAM, GB</td>
        <td><%= form.text_field(:docker_host_ram, :class=>"form_input", value:2) %></td>
      </tr>
        <tr>
        <td>CPU, cores</td>
        <td><%= form.text_field(:docker_host_cpu, :class=>"form_input", value:2) %></td>
      </tr>
        <tr>
        <td>Disk space, GB</td>
        <td><%= form.text_field(:docker_host_disk_space, :class=>"form_input", value: 10) %></td>
      </tr>
        <tr>
        <td>Host geographic location</td>
        <td><%= form.text_field(:docker_host_location, :class=>"form_input", value:"localhost") %></td>
      </tr>
        <tr>
        <td>Network interface throughput, GBit/s</td>
        <td><%= form.text_field(:docker_host_network_interface_throughput, value:1, :class=>"form_input") %></td>
      </tr>
        <tr>
        <td>Host provider type</td>
        <td><%= form.select(:docker_host_provider_type, [['Bare metall', 'bare_metall'],['AWS', 'aws'], ['GCP', 'gcp'],['Azure', 'azure']],{}, { :class=>'form_input' }) %></td>
      </tr>
        <tr>
        <td>Docker API client key (key.pem)</td>
        <td><%= form.text_area(:docker_host_api_key, size:"50x5",:class=>"form_input", value:"Docker client key (key.pem) content. Check https://docs.docker.com/engine/security/https/ for more information ") %></td>
      </tr>
        <tr>
        <td>Docker API certificate (cert.pem)</td>
        <td><%= form.text_area(:docker_host_api_cert, size:"50x5",:class=>"form_input", value:"Docker client certificate (cert.pem) content. Check https://docs.docker.com/engine/security/https/ for more information ") %></td>
      </tr>
    </table>
    <p>
      <%= form.submit("Save configuration",:class=>"form_button") %>
    </p>
  <% end %>
</div>
